<div class="card mb-4">
    {% if article.image is not null %}
        <img src="{{ asset(article.image) }}" alt="{{ article.title }}" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h2 class="card-title">{{ article.title }}</h2>
        <p>{{ article.publishedAt | date('d-m-Y H:i') }} - <a href="{{ path('site_blog_category', {'slug' : article.category.slug}) }}" class="badge badge-primary">{{ article.category.name }}</a></p>
        <p class="card-text">{{ article.content | u.truncate(50, '...') }}</p>
        <a href="{{ path('site_blog_show', {'slug' : article.slug}) }}" class="btn btn-primary">Lire la suite</a>
    </div>
</div>
